extends includes/wrapper

block settings
	- var displayGithubBanner = true;
	//- - var title = "";

block head
	+css(['index','customtexture','game'])
	+js(['customtexture','game'])

block content
	#background
	#wrapper
		header
			#title
				h1.toptitle Fell
				h6.toptitle pre-alpha
			h2 A JavaScript-based online multiplayer game

		#login
			form#loginInfo(action="#")
				input(type="text", name="user", id="user", class="text", placeholder="Username")
				input(type="password", name="pass", id="pass", class="text", placeholder="Password, if you have one")
				input(type="text", name="ip", id="ip", class="text", placeholder="IP Address, if not default server")
				input(type="submit", value="Enter the Realm", id="submit")

	#listwrapper.hide
		h3 Uploaded textures
		output#list
	
	#dropgrabber.inactive